<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>assets</key>
        <array>
          <dict>
            <key>kind</key>
            <string>software-package</string>
            <key>url</key>
            <string>http://qiniu.yindangu.com/app/package/1.1.1_better.toone_1566983526687.ipa</string>
          </dict>
        </array>
        <key>metadata</key>
        <dict>
          <key>bundle-identifier</key>
          <string>better.toone</string>
          <key>bundle-version</key>
          <string>1.1.1</string>
          <key>kind</key>
          <string>software</string>
          <key>subtitle</key>
          <string>性能优化</string>
          <key>title</key>
          <string>性能优化</string>
        </dict>
      </dict>
    </array>
  </dict>
</plist>
